*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
body{
    margin: 0 auto;
    max-width: 1200px;
    font-family: "lato";
    color: black;
    background: url(../img/restaurant-interior.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

.icono-tienda{
    width: 40px;
    height: 40px;
    stroke: rgb(255, 255, 255);
}
.icono-tienda:hover{
    cursor: pointer;
}
img{
    max-width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: +999;
}
header .logo{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}
.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}
.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
.restaurante{
    display: flex;
    align-items: center;
}
.restaurante > h2{
    margin-right: 30px;
}
.container-icon{
    position: relative;
}
.count-productos{
    position: absolute;
    top: 55%;
    right: 0;
    background-color: rgb(255, 255, 255);
    color: #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
#contador-productos{
    font-size: 12px;
}
.container-cart-product{
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 20);
    border-radius: 10px;
}
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 20);
}
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
.titulo-producto-carrito{
    font-size: 20px;
}
.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}
.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}
.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}
.total-pagar{
    font-size: 20px;
    font-weight: 900;
}
.hidden-cart{
    display: none;
}
.icon-close{
    width: 25px;
    height: 55px;
}
.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 150px;
}
.item{
    border-radius: 10px;
    border: 1px #999 solid;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
}
.item:hover{
    box-shadow: 0 0px 5px rgba(0, 0, 0, 20);
    transform: translateY(-5px);
    transition: .2s;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: all .5s;
}
.item figure{
    overflow: hidden;
}
.info-producto{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price{
    font-size: 18px;
    font-weight: 900;
}
.info-producto button{
    border: none;
    background: none;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 15px 10px;
    cursor: pointer;
    transition: .3s;
}
.info-producto button:hover{
    background-color: rgb(69, 69, 69);
    transition: .3s;
}