<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/sobrenosotros.css">
</head>
<body>
    <section class="showcase">
        <header>
            <div class="container">
                <nav class="navbar">
                    <a href="/">Inicio</a>
                    <a href="/sobrenosotros">Nosotros</a>
                    <a href="/productos">Productos</a>
                </nav>
            </div>
            <h2 class="logo">Restaurante</h2>
        </header>
        <video src="videos/videorestaurante.mp4" nuted loop autoplay></video>
        <div class="overplay"></div>
        <div class="text">
            <h2>Sobre Nosotros</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Obcaecati eaque, incidunt sapiente quidem asperiores, labore
                eius id molestiae repellendus sed animi velit quaerat eum officia
                 necessitatibus quam accusantium unde harum.</p>
                 <button onclick="abrir()">Contactanos</button>
        </div>
    </section>
    <div class="back" id="info" onclick="cerrar()">
        <div class="container">
            <h4>Desarrolladores</h4>
            <p>Jhoan Monsalve</p>
            <a href="">j@gmail.com</a>
            <p>Marinela Rodriguez</p>
            <a href="">m@gmail.com</a>
            <p>Esneider Giraldo</p>
            <a href="">e@gmail.com</a>
            <button id="info" onclick="cerrar()">Cerrar</button>
        </div>
    </div>
    <script src="js/sobrenosotros.js"></script>
</body>
</html>