<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="css/sobrenosotros.css">
</head>
<body>
    <section class="showcase">
        <header class="header">
            <nav class="navbar">
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/sobrenosotros">Sobre Nosotros</a>
            </nav>
            <h2 class="logo">Restaurante</h2>
        </header>
        <video src="videos/videorestaurante.mp4" autoplay muted loop></video>
        <div class="overplay"></div>
        <div class="text">
            <h2>Sobre Nosotros</h2>
            <p>¡Descubre Restaurante Visual Surprise! <br>
                En nuestro espacio gastronómico, fusionamos arte y cocina para ofrecerte una experiencia sensorial única. Desde platos exquisitamente preparados hasta un ambiente decorado con obras contemporáneas, cada visita es una aventura visual que despierta todos tus sentidos. Ven y disfruta de sabores innovadores y presentaciones que te sorprenderán en cada bocado. Bienvenidos a un lugar donde la comida se convierte en arte y cada momento es una celebración de creatividad y sabor.</p>
                 <button onclick="abrir()">Contactanos</button>
        </div>
    </section>
    <div class="back" id="info" onclick="cerrar()">
        <div class="container">
            <h4>Desarrolladores</h4>
            <p>Jhoan Monsalve</p>
            <a href="">j@gmail.com</a>
            <p>Marinela Rodriguez</p>
            <a href="">m@gmail.com</a>
            <p>Esneider Giraldo</p>
            <a href="">xxsilentytbey@gmail.com</a>
            <button id="info" onclick="cerrar()">Cerrar</button>
        </div>
    </div>
    <script src="js/sobrenosotros.js"></script>
</body>
</html>